<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Registration</title>
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div class="container">
    <div class="nav-wrapper">

        <div class="right-side">
            <div class="brand">
                <div><a href="/" style="color: #f1c50e;">ECST</a></div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="login-page">
            <div class="form">
                <form class="register-form" action="/registerStaff" method="POST">
                    <input autocomplete="off" id="newuser" type="text" name="firstname" placeholder="First name" required/>
                    <input autocomplete="off" id="newpass" type="text" name="lastname" placeholder="Last name" required/>
                    <input autocomplete="off" id="newpass" type="text" name="address" placeholder="Address" required/>
                    <input autocomplete="off" id="newmail" type="text" name="email" placeholder="Email Address" required/>
                    <input autocomplete="off" id="newpass" type="password" name="password" placeholder="Password" required/>
                    <div class="fields name">
                        <div class="firstName"><i class="fas fa-calendar"></i><input class="date" placeholder="Enter BirthDay" type="date" name="dob" pattern=" enter BirthDay \d{4}-\d{2}-\d{2}" required>                    </div>
                        <!-- <div class="lastName"><i class="fas fa-user"></i><input type="text" name="lastName" id="lastName" placeholder="Last Name"></div> -->
                        <select class="lastName" id="year" name="position" required>
                            <option value="Undisclosed">Staff Position</option>
                            <option value="PRINCIPAL">PRINCIPAL</option>
                            <option value="VICE_PRINCIPAL">VICE-PRINCIPAL</option>
                            <option value="BURSAR">BURSAR</option>
                            <option value="LIBRARIAN">LIBRARIAN</option>
                            <option value="SECRETARY">SECRETARY</option>
                            <option value="TYPIST">TYPIST</option>
                            <option value="DRIVER">DRIVER</option>
                            <option value="CONDUCTRESS">CONDUCTRESS</option>
                            <option value="CLEANER">CLEANER</option>
                            <option value="TEACHER">TEACHER</option>
                            <option value="SECURITY">SECURITY</option>
                        </select>

                        <select class="lastName" id="year" name="gender" required>
                            <option value="Undisclosed">Gender Option</option>
                            <option value="Male">MALE</option>
                            <option value="Female">FEMALE</option>
                        </select>
                    </div>
                    <button id="add-newuser" type="submit">Create Staff</button>
                    <br>
<!--                    <p class="message">Already Registered? <a href="#">Login</a></p>-->
                    <br><br>
                </form>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
            $('.message a').click(function() {
                console.log('It clicked!');
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
            });
        </script>
    </div>
</div>
<script src="/web.js"></script>
</body>
</html>